* {
    margin:0;
    padding:0;
}

html {
    background-color: #BEEB9F;
}


body {
    background-color: #00A388;
    margin-right:4%;
    margin-left:4%;
    text-align: center;
}

h1 {
    margin-bottom: 2rem;
    color :white;
    font-size : 1.5rem;
}

label {
    margin:5px;
    margin-top:10px;
    margin-bottom:10px;
}

input {
    margin-top:0px;
    margin-bottom:10px
}

select{
    margin-top:0px;
    margin-bottom:10px  
}

.page {
    padding:1rem;
}

.menu-item{
    display: inline-block;
}

.restaurant {
    padding : 1 rem;
}

.form--new {
    text-align: left;
}

.restaurant__name {
    background-color:#79BD8F;
    margin :20px;
    padding:20px 0 20px 10px;
    text-align: left;
    font-size:1.5rem;
}

.restaurant__button{
    width:20px;
    height : auto;
    border-radius:10px;
    font-size:1rem;
    text-decoration:none;
    text-align: center;
    padding:10px;
    margin :5px;
}


.restaurant__button--new {
    background-color:#79BD8F;
    margin :20px;
    text-align: left;
    font-size:1.5rem;
    width:100%;
    height : auto;
    font-size:1.5rem;
    text-decoration:none;
    color : white;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:10px;
    background-color:#79BD8F;
    font-size:1.5rem;
    justify-content: space-between;
    border-radius:20px;
}

.menu--container{
    display: flex;
    flex-direction: row;
    background-color:#79BD8F;
    border-radius:20px;
    margin:10px;
    padding:5px;
    align-items: center;
    justify-content:flex-end;
}

.button--container{
    background-color:#79BD8F;
    border-radius:20px;
    margin:10px;
    text-align:center;
}

.item--name{
    padding:2px;
    text-align:right;

}

.item--description{
    font-style: italic;
    padding:2px;
    text-align:right;
}

.line{
    display:none;
}

.invisible {
    display:none;
}

.item--price {
    background-color: white;
    text-align:left;
    padding:10px 2px 10px 2px;
    margin-right:2%;
    margin-left:5px;
    border-radius:10px;

}


.item__button--new {
    background-color:#79BD8F;
    margin :20px;
    text-align: left;
    font-size:1.5rem;
    width:100%;
    height : auto;
    font-size:1.5rem;
    text-decoration:none;
    color : white;
    text-align: center;
}

.item__button--delete {
    background-color:#FF6138;
    width:34px;
    height : auto;
    border-radius:10px;
    font-size:1rem;
    color :white;
    text-align: center;
    padding:5px;
    margin-left:5px;
    margin-right:10px

}

.item__button--edit {
    background-color:#FFFF9D;
    width:34px;
    height : auto;
    border-radius:10px;
    font-size:1rem;
    color : black;
    text-align: center;
    padding:5px;
    margin-left:5px;

}

.color--white{
    color :white;
}

.color--black{
    color : black;
}

.bg--main-orange{
    background-color:#FF6138;
}

.bg--main-blue{
    background-color:#79BD8F;
}

.bg--main-yellow{
    background-color:#FFFF9D;
}

.no-style{
    text-decoration:none;
}

p.center--vertically{
    display:inline-block;
    vertical-align:middle;
    margin-bottom:5px;
    padding-bottom: 2px;
}


@media screen and (min-width:800px){
    body {
        margin-right:16%;
        margin-left:16%;
        text-align: center;
    }

    h1 {
        font-size:3rem;
    }

    .line{
        display:block;
    }

    .invisible {
        display:block;
    }

    .restaurant__button {
        width:40px;
        height : auto;
        border-radius:10px;
        font-size:1rem;
        text-decoration:none;
        padding:20px 20px 20px 20px;
        text-align: center;
        margin :10px;
    }
    
}

/*
color uses :
#FF6138 orange
#FFFF9D jaune pale
#BEEB9F vert jaune pale
#79BD8F vert pale
#00A388 vert turquoise

"{{ url_for('static', filename='style.css') }}"
*/

