<html>
  <head>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <body>
        <div class='page'>
            <h1>Delete Menu Item </h1>
            <p>Are you sure you want to delete {{item.name}} from database ?</p><br> 
            <form action="{{ url_for('delete_menu_item', restaurant_id = restaurant_id, menu_id = menu_id) }}" method = 'POST'>
              <input type = 'submit' value = "Delete">
              <a href = "{{ url_for('show_menu', restaurant_id = restaurant_id) }}">Cancel</a>

            </div>
        </div>
      </body>
</html>