<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class='page'>
      <h1>List of restaurants</h1>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
  
        <ul>
          {% for message in messages %}
            <li><strong>{{message}}</strong></li>
            {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
      
      <div class='restaurant'>
        {% if restaurants == [] %}
          <div class='container'>
            <p style="text-align:center; width:100%; margin:auto;">No restaurants in database</p>
          </div>
          {% endif %}

        {% for restaurant in restaurants %}
        <div class='container'>
          <div class='restaurant__name'><a href = "{{ url_for('show_menu', restaurant_id = restaurant.id )}}"}>{{restaurant.name}}</a></div> 
          <div class='container'>
          <a class='restaurant__button--edit' href = "{{ url_for('edit_restaurant', restaurant_id = restaurant.id )}}"> <i class='material-icons' style='color:black;'>edit</i><br>Edit</a>    
          <a class='restaurant__button--delete' href = "{{ url_for('delete_restaurant', restaurant_id = restaurant.id )}}"> <i class='material-icons';>delete_forever</i><br>Delete</a>  
          </div>

        </div>
        {% endfor %}
        <div class='container'>
         <a class='restaurant__button--new' href = "{{ url_for('new_restaurant')}}"> <i class='material-icons';>add</i><br>Create New Restaurant</a>  
        </div>
      </div>

      
      <br>
    </div>
    </body>
  </html>